@media screen and (min-width: 480px) {
.topnav {
  background-color: #767;
  overflow: hidden;
  width:fit-content;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav a:hover {
  color: #FF00FF;
}

p::first-letter {
  font-size: 60px;
}

table, th, td {
  border:1px solid #000000;
  border:2px solid #000000;
}

.infoGen {
  background-color: #03fc77;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.infoPers{
  background-color: burlywood;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

legend {
  font-style: oblique;
  font-weight: bold;
}

body {
  background-color: #9acdff;
  max-width: fit-content;
}

.home {
  font-size:xx-large;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

}