@media screen and (min-width: 480px) {
.topnav {
  background-color: #767;
  overflow: hidden;
  width:fit-content;
}

.topnav a {
  float: left;
  display:block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  color: #FF00FF;
}

p::first-letter {
  font-size: 30px;
  font-family:fantasy;
}

table, th, td {
  border:1px solid #000000;
  border:2px solid #000000;
}

.infoGen {
  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,255,50,1) 0%, rgba(5,125,88,1) 100%, rgba(4,36,0,0) 100%, rgba(0,227,48,1) 100%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.infoPers{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(141,190,122,0.12398462803089982) 54%, rgba(253,187,45,1) 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

legend {
  font-style: oblique;
  font-weight: bold;
}

body {
  background-color: #9acdff;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: salmon;
  color: white;
  text-align: center;
}

aside {
  font-size:x-large;
  width: 30%;
  float: left;
  font-style: italic;
  background-color: lightgray;
}

.Info {
  background-color: #03fc77;
}

.Loto {
  background-color: aquamarine;
}

button {
  font-size: larger;
}

canvas {
  border:1px solid #000000;
}

.cumpar {
  display: inline-block;
}

}